body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.city-picker {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    width:100%;
    max-width: 350px;
    margin-bottom: 10px;
  }
}

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 80vh;
}

.forecast {
  &__inner {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;
  }

  &__condition {
    flex: 1;
    margin-bottom: 20px;
  }

  &__numeric {
    flex: 1;
    margin-bottom: 20px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__temp {
    font-size: 40px;
  }

  &__location {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__timestamp {
    width: 100%;
    font-size: 10px;
  }
}