{% extends 'layout.twig' %}

{% block body %}
  <div class="container wrapper">
    <h1>Weather app</h1>
    <div class="jumbotron">
      <h2>Choose a day and a city to receive a forecast:</h3>
      <form id="forecast-query">
        <!-- TODO: form to be created here -->
        <button type="submit" class="btn btn-primary">Show me the weather!</button>
      </form>
    </div>
    <div class="row main">
      <div class="col-xs-12 col-sm-6 col-md-4">
        {% block forecast %}
          {% include 'forecast.twig' %}
        {% endblock block %}
      </div>
    </div>
  </div>
{% endblock %}
